body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);  
    color: rgb(25, 27, 29);
}
a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background: rgba(43, 168, 180, 0.536);
    border-radius: 20px;
    transition: 0.3s;
}

a:hover{
    background: rgba(0, 74, 246, 0.4);
    transform: scale(1.05);
}
